.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-image: url(https://pic.clubic.com/v1/images/1767160/raw?width=1200&fit=max&hash=2df85eee8388277ec6766faa8fbb196bd3595100);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
  background-color: #282c34;
}

.comment{
  margin-top: 500px;
  width: 300px;
}